.container{margin-top:30px;}

.circ{
 border:1px solid orange;
  width:280px;
  height:280px;
  margin:auto;
  border-radius:100%;
  padding-top:50px;
  padding-left:10px;
font-family: 'PT Sans', sans-serif;
  font-size:45px !important;
  color:rgb(100,100,100);
   
}

.pt{font-family: 'Pacifico', cursive;
font-size:40px;
color:#E74C3C;}

.plus,.minus{cursor:pointer;}

.plus,.minus,.sessiontm,.breaktm{font-family: 'PT Sans', sans-serif;
  font-size:33px !important;
  color:rgb(53,79,52);
}

h3{font-family: 'Oswald', sans-serif;}
button{
  font-family: 'Droid Serif', serif;
}
.btn{
  margin:10px;
}